<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jamsesh"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-library android:name="com.google.android.maps" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/BlackText">
        <activity android:name=".Login"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="SignupInfo" />
		<activity android:name="MainMenu" />
		<activity android:name="FindJam" />
		<activity android:name="StartJam" />
		<activity android:name="JamList" />
		<activity android:name="Instruments"></activity>
		<activity android:name="JamInfo"></activity>
		<activity android:name="MyJams"></activity>
		<activity android:name="JamList"></activity>
    </application>
</manifest>